---
import Layout from "../../layouts/Layout.astro";
import Profile from "../../components/Profile";

type Project = {
	name: string;
	period: string;
	description: string;
	tags: string[];
};

type Experience = {
	company: string;
	projects: Project[];
};

type Certification = {
	name: string;
	url: string;
	date: string;
};

const workExperiences: Experience[] = [
	{
		company: "AbemaTV, Inc.",
		projects: [
			{
				name: "Developer Productivity Engineer",
				period: "2024/04 ~ now",
				description:
					"developer productivity engineer として、開発者生産性向上に取り組む",
				tags: ["Go", "GoogleCloud", "Kubernetes", "MongoDB"],
			},
			{
				name: "Product Backend Engineer",
				period: "2021/04 ~ 2024/03",
				description: "Backend Engineer として、サービスの開発・運用に従事",
				tags: ["Go", "GoogleCloud", "Kubernetes", "MongoDB"],
			},
		],
	},
];

const certificates: Certification[] = [
	{
		name: "Google Cloud Certified Professional Data Engineer",
		url: "https://www.credential.net/f5b24217-bd7d-46fb-a21f-d1de65976a03",
		date: "2023/12",
	},
	{
		name: "Google Cloud Certified Professional Cloud Security Engineer",
		url: "https://www.credential.net/a595b0d9-5297-4d2e-8045-907be4a21939",
		date: "2023/03",
	},
	{
		name: "Google Cloud Certified Professional Cloud Developer",
		url: "https://www.credential.net/e5ad5f41-bf18-44a9-ade1-0005ab293c6e",
		date: "2022/10",
	},
	{
		name: "Google Cloud Certified Professional Cloud Architect",
		url: "https://www.credential.net/1fe360ea-22e9-4dac-bc95-081f6108e9a5",
		date: "2022/02",
	},
];
---

<Layout title="ucpr.dev | profile">
  <Profile 
    iconUrl="https://avatars.githubusercontent.com/u/17886370"
    profileText="Just do it!"
  />

  <div class="px-4 py-3">
    <h2 class="text-xl font-bold underline">{"> "}Profile</h2>
    <div class="py-3">
      <ul class="list-disc list-inside px-2 pb-3">
        <li>name: Taichi Uchihara</li>
        <li>age: 24</li>
        <li>timezone: Asia/Tokyo +9</li>
      </ul>
    </div>

    <h2 class="text-xl font-bold underline">{"> "}Work Experiences</h2>
    <div class="py-3">
      {workExperiences.map((experience) => (
        <div>
          <h3 class="text-lg font-bold py-2">{experience.company}</h3>
          {experience.projects.map((project) => (
            <div class="px-2">
              <div class="flex justify-between items-center">
                <h4 class="text-md font-bold">{project.name}</h4>
                <p class="text-sm text-gray-500">{project.period}</p>
              </div>
              <p class="px-2 py-2 text-sm text-gray-700">{project.description}</p>
              <div class="flex flex-wrap pb-2">
                {project.tags.map((tag) => (
                  <a href=`tags/${tag}` class="px-2 py-1 text-xs font-semibold ">{tag}</a>
                ))}
              </div>
            </div>
          ))}
        </div>
      ))}
    </div>

    <h2 class="text-xl font-bold underline">{"> "}Certifications</h2>
    <div class="py-3">
      {certificates.map((certificate) => (
        <div class="flex justify-between items-center">
          <a href={certificate.url} target="_blank" rel="noopener" class="text-base font-bold py-2">{certificate.name}</a>
          <p class="text-sm text-gray-500">{certificate.date}</p>
        </div>
      ))}
    </div>
  </div>
</Layout>
